# Votre IP publique sert de point d'entrée
151.243.101.182, marleyn.xyz, captive.gigsky.com, yt3.ggpht.com {
    # Caddy transmet le trafic aux ports locaux (votre configuration cible)
    reverse_proxy /vless-ws 127.0.0.1:10001
    reverse_proxy /trojan-ws 127.0.0.1:10002
    reverse_proxy /ss-ws 127.0.0.1:20001
    
    # Si vous aviez un service sur 4443
    reverse_proxy /5hU0UsH4rwua2TC820/* 127.0.0.1:4443
}

